{{!-- The tag below includes the header - partials/header.hbs --}}
{{> header}}

{{#post}}
<!-- Handles sidebar image/cover image/post image -->
<div id="main-content" role="main" class="pure-g-r">
    <aside id="main-sidebar" class="pure-u-1-2"{{#if image}} style="background-image:url({{url image}})"{{else if @settings.cover}} style="background-image:url({{url @settings.cover}})"{{/if}}>
        {{> aside}}
    </aside>

    <section id="main" class="pure-u-1-2">
        <article class="post">
            <header class="post-header">
                <h1>{{title editable="true"}}</h1>
                {{> post-meta}}
            </header>
            <div class="post-content">
                {{content editable="true"}}
            </div>
        </article>
	{{!-- Posts --}}
    {{#is @template 'post'}}
        {{#author}}
            <div class="aside-content">
                {{#if avatar}}
                    <figure class="aside-image"><img class="avatar-image" src="{{url avatar}}" alt="Avatar"></figure>
                {{/if}}
                <header class="aside-title">{{name}}</header>
                <p class="aside-description">{{bio}}</p>
                {{#if location}}<p><small>{{location}}</small></p>{{/if}}
            </div>
        {{/author}}
    {{/is}}
    </section>
</div>

{{/post}}

{{!-- The tag below includes the footer - partials/footer.hbs --}}
{{> footer}}